* {
  font-family: FiraCode Nerd Font;
  font-size: 18px;
  font-weight: bold;
}

#waybar {
  background-color: transparent;
}

tooltip {
  color: #EBDBB2;
  background-color: #282828;
}

#workspaces{
	margin-left: 0.5em;
	border-radius: 0.5em;
}

#workspaces button {
	color: #A89984;
  padding: 0 0.5em 0 0.4em;
}

#workspaces button.active {
	color: #98971A;
}

#clock{
	color: #EBDBB2;
}

#clock.1{
	border-radius: 0.5em 0 0 0.5em;
}

#clock.3{
	border-radius: 0 0.5em 0.5em 0;
}

#battery {
	color: #B8BB26;
}

#backlight {
	color: #FABD2F;
	border-radius: 0.5em 0 0 0.5em ;
}

#wireplumber {
	color: #FB4934;
}

#wireplumber.muted{
	padding: 0 0.2em;
}

#network {
	color: #83A598;
}

#network.disconnected {
	color: #CC241D;
}

#bluetooth {
	color: #458588;
	border-radius: 0 0.5em 0.5em 0;
	margin-right: 0.5em;
}

#tray{
	border-radius: 0.5em;
	margin-right: 0.5em;
}

#clock,
#cpu,
#battery,
#backlight,
#wireplumber,
#network,
#bluetooth,
#tray{
	padding: 0 0.5em;
}

#workspaces,
#clock,
#cpu,
#battery,
#backlight,
#wireplumber,
#network,
#bluetooth,
#tray{
	background: #3C3836;
}
