* {
  font-family: FiraMono;
  font-size: 18px;
}

#waybar {
  background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
	background: #3C3836;
	border-radius: 0.5em;
}

tooltip {
  color: #EBDBB2;
  background-color: #282828;
}

#workspaces button {
  color: #EBDBB2;
  padding: 0 0.4em;
}

#workspaces button.active {
	color: #98971A;
}

#clock{
	color: #EBDBB2;
}

#backlight {
	color: #FABD2F;
}

#battery {
	color: #B8BB26;
}

#wireplumber {
	color: #FB4934;
}

#network {
	color: #83A598;
}

#network.disconnected {
	color: #CC241D;
}

#bluetooth {
	color: #458588;
}

#clock,
#battery,
#backlight,
#wireplumber,
#network,
#bluetooth,
#tray{	
	padding: 0 0.4em;
}
